nav {
    background-color: rgb(233, 232, 232);
}

h2 {
    padding: 13px;
}

h3 {
    color: #deac15;
    padding: 40px;
}

.lista1 {
    line-height: 40px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    padding: 20px;
}

.lista2 {
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}

li {
    padding: 10px;
    font-size: 20px;

}

ol {
    counter-reset: section;
    list-style-type: none;
    padding: 5px;
}

ol li::before {
    font-size: 30px;
    font-style: normal;
    content: counters(section,".");
    counter-increment: section;
    padding-right: 10px;
    line-height: 50px;
}